{% extends 'base.html.twig' %}

{% block title %}Nouvel Evenement{% endblock %}


{% block body %}

        <h1>Programmer un nouvel évenement</h1>

        {{ include('booking/_form.html.twig') }}

{% endblock %}
